<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870311201140-tklpu5ji6uqmtff34sn61cul3o1pudiu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870311201140-tklpu5ji6uqmtff34sn61cul3o1pudiu</string>
	<key>API_KEY</key>
	<string>AIzaSyBmL1jeWQzRlCwTyaNyj3mr7sFft9oatdw</string>
	<key>GCM_SENDER_ID</key>
	<string>870311201140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>diggi.sp.LoginExample</string>
	<key>PROJECT_ID</key>
	<string>loginexample-ef5f2</string>
	<key>STORAGE_BUCKET</key>
	<string>loginexample-ef5f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870311201140:ios:c004423d20accb52ec0421</string>
</dict>
</plist>